name: Build Plugin

on:
  push:
    branches:
      - main

jobs:
  build-mac:
    runs-on: macos-latest

  steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        submodules: recursive
